.navbar {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.linkNavbar {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.logo {
  margin-left: 20px;
  font-size: large;
  font-family: "Montserrat";
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  padding: 1rem;
  color: black;
}

.logo, svg {
  background-color: antiquewhite;
}

.logo-group {
  display: flex;
  align-items: center; 
}

.logo-name {
  margin: 1rem;
}

.logo-svg {
  margin: 1rem;
}

a {
  cursor: pointer;
}